= devise_error_messages!
.col-12.col-xl-3
  %h2= I18n.t('users.links.sign_up')

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 

    .form-group
      = f.label :email 
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    
    .form-group
      = f.label :password 
      - if @minimum_password_length 
        %em= I18n.t('users.sign_up.minimum_length', length: @minimum_password_length)
      = f.password_field :password, autocomplete: "new-password", class: "form-control"

    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

    .actions
      = f.submit I18n.t('users.sign_up.submit'), class: "btn btn-primary"
      
    .links
      %hr/
      = render "devise/shared/links" 
