.col-12.col-xl-3
  %h2= I18n.t('users.links.sign_in')

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
    
    .form-group
      = f.label :email 
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    
    .form-group
      = f.label :password 
      = f.password_field :password, autocomplete: "current-password" , class: "form-control"

    - if devise_mapping.rememberable? 
      .form-check
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, class: "form-check-label"
    
    .actions
      = f.submit I18n.t('users.sign_in.submit'), class: "btn btn-primary"
    
    .links
      %hr/
      = render "devise/shared/links"