- if !rooms.nil? && !rooms.empty?
  .list-group
  - rooms.each do |room|
    = link_to room.name, room, class: "list-group-item list-group-item-action#{if room.id == current_room_id then " active" end}"
- else
  %p.alert.alert-info Не создано ни одной комнаты