.row
  .col-3
    %h2 Комнаты
    - if user_signed_in?
      = render partial: "form", locals: {room: Room.new}
      %hr/
    .alert.alert-primary Комнат нет
  .col-9
    %h2#current_room_name Комнат нет.