.row
  .col-3
    %h2 Комнаты
    - if user_signed_in?
      = render partial: "form", locals: {room: Room.new}
      %hr/
    = render partial: "list", locals: {rooms: @rooms, current_room_id: @room.id}
  .col-9
    %h2= @room.name
    - if @room.user == current_user
      = link_to 'Удалить', @room, {method: :delete, class: 'btn btn-danger'} 
    %hr/
    #chatbox{'data-room-id' => "#{@room.id}"}= render @room.messages
    %hr/
    = form_for Message.new, url: '#' do |f|
      .form-row
        .col-9= f.text_field :content, class: 'form-control'
        .col= f.submit 'Отпр.', class: 'btn btn-primary'