!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sandbox
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .navbar.navbar-expand-md.navbar-dark.bg-primary
      .container
        = link_to 'Sandbox!', root_path, 'class' => 'navbar-brand'
        %button.navbar-toggler{'href' => '#', 'data-toggle' => 'collapse', 'data-target' => '#navbarTopMenu'}
        #navbarTopMenu.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item= link_to('Комнаты', rooms_path, {class: 'nav-link'})
            - if user_signed_in?
              %li.nav-item= link_to(I18n.t('users.links.sign_out'), destroy_user_session_path, {method: :delete, class: 'nav-link'})
            - else
              %li.nav-item= link_to(I18n.t('users.links.sign_up'), new_user_registration_path, {class: 'nav-link'})
              %li.nav-item= link_to(I18n.t('users.links.sign_in'), new_user_session_path, {class: 'nav-link'})
    .container
      - if notice
        %br/
        .alert.alert-primary{role: 'alert'}= notice
      - if alert
        %br/
        .alert.alert-danger{role: 'alert'}= alert
      %br/
      = yield
